.uploader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  margin-bottom: 10px;
}

.file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.file-input {
  display: none;
}

.file-label:hover {
  background-color: #0056b3;
}
